body{
    font-family: "Gill Sans", sans-serif;
}

#options > div{
    height: 60px;
    width: 60px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#options > div:hover{
scale: 1.2;
transition: 0.4s all;
}

#options{
    display: grid;
    grid-template-columns: repeat(3, 0fr);
}